html, 
body {
  font-size: 16px;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 800px;
}

canvas#pizza {
  margin: 0 auto;
  border: 1px solid springgreen;
}

.splash {
  display: flex;
  width: 980px;
  height: 579;
  justify-content: center;
  align-items: center;
  background-image: url('../images/fondo.jpeg');
}

.button {
  background-color:springgreen;
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
}

#gameover {
  display: block;
}

.hidden {
  display: none;
}

.show {
  display: block;
}




